<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*" type="WebOnDiet.Framework.WebOnDietHttpHandlerFactory, WebOnDiet"/>
		</httpHandlers>
		<compilation debug="true"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
		</modules>
		<handlers>
			<add name="WebOnDiet" preCondition="integratedMode" verb="*" path="*" type="WebOnDiet.Framework.WebOnDietHttpHandlerFactory, WebOnDiet"/>
		</handlers>
	</system.webServer>
</configuration>
